include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
graft multilingual_survey
global-exclude *.orig *.pyc *.log *.swp
prune multilingual_survey/tests/coverage
prune multilingual_survey/.ropeproject
